<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    mybatis核心配置文件中的标签必须按照以下指定顺序配置-->
<!--    "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,-->
<!--    objectWrapperFactory?,reflectorFactory?,plugins?,environments?,-->
<!--    databaseIdProvider?,mappers?)".-->

    <settings>
        <!--将表中字段的下划线自动转换为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

<!--    配置分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
<!--            分页合理化-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>